*	{ 
  margin: 0; 
  padding: 0; 
}
html, body { 
  height: 100%;
  overflow-x: hidden;
}
html { 
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 11pt;
  /*color: hsl(0, 0%, 15%);*/
  color: hsl(40,0%,80%);
  background-color: hsl(0, 0%, 97%);
}
b, a {
  font-weight: 400;
  /*color: hsl(0, 0%, 30%);*/
  color: hsl(40,0%,90%);
}
@media (min-height: 550px) and (min-width: 400px) {
  html { font-size: 13pt; }
}
@media (min-height: 650px) and (min-width: 600px) {
  html { font: 15pt; }
}
#app { 
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}
.main {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}
.scrolling-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.scrolling-container-inner {
  padding: 0 0 600px;
  /*background-color: white;*/
  /*color: black;*/
  color: hsl(40,0%,80%);
  transition: background-color 500ms ease-in, color 500ms ease-in;
}
.top-panel {
  background-color: hsl(40,100%,98%);
  color: hsl(40,100%,98%);
  padding: calc(100vh - 29.8rem) 0 5vh; 
}
.face-box {
	position: relative;
  max-width: 620px; 
  margin: 0 auto; 
	padding: 0 0.5rem; 
}
.face {
  box-shadow: inset 0 0 0.7rem 0.7rem hsl(40,100%,98%);
  width: 14rem;
  height: 14rem;
  background-image: url("/images/my-face.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: currentColor;
  background-blend-mode: multiply;
}
.image {
  transition: background-color 500ms ease-in, color 500ms ease-in;
}
.neuron-box {
  padding: 1rem 0;
  width: calc(100% - 4rem);
  height: 16rem;
  /* margin: 0 auto; */
  margin: 0 2rem;
}
.neuron {
  width: 100%;
  height: 100%;
  background-image: url("/images/gif-dark.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 40%;
  background-color: currentColor;
  background-blend-mode: lighten;
}
.floating-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
}
.floating-container-inner {
  position: relative;
  height: 100%;
 }
.section-heading-bg {
  width: 100%;
  padding-top: 0.8rem;
}
.section-heading {
  position: relative;
  width: 100%;
  padding: 0.6rem 1rem;
  height: 1.4rem;
  font-size: 1.1rem;
  max-width: 600px; 
  margin: 0 auto; 
  font-weight: 400;
}
.section-heading > a {
  pointer-events: auto;
}
.section-main {
  padding: 1rem 1rem 3rem;
  max-width: 600px; 
  margin: 0 auto; 
  line-height: 1.5rem;
}
.section-main > *+* {
  margin-top: 0.8rem;
}
.section-highlight {
  padding: 0 1rem;
  font-weight: 400;
  display: flex;
  width: 100%;
}
@media (min-height: 550px) and (min-width: 400px) {
  .section-highlight { padding: 0 1.5rem; }
}
@media (min-height: 650px) and (min-width: 600px) {
  .section-highlight { padding: 0 2rem; }
}
.section-field-label {
  width: 5.5rem;
  display: flex;
  flex-shrink: 0;
}
.section-field-value {
  display: flex;
}
.headings-top {
  position: absolute;
  top: 0;
  width: 100%;
}
.headings-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.heading-bg {
  width: 100%;
  transition: background-color 500ms ease-in, color 500ms ease-in;
  /*background-color: white;*/
  /*color: black;*/
  /*color: hsl(40,0%,90%);*/
}
/*.headings-top .heading-bg {
  padding: 0.8rem 0 0 0;
}
.headings-top .heading-bg:not(:first-child) {
  padding: 0;
}*/
.heading {
  position: relative;
  width: 100%;
  padding: 0.6rem 1rem;
  height: 1.4rem;
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto;
  font-weight: 400;
}
.heading > a {
  pointer-events: auto;
}