.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headingBox {
  display: flex;
  flex-direction: row; 
  padding: 0.5rem 0;
}

.headingLine {
  height: 0.8rem;
  border-bottom: 1px solid currentColor;
  display: flex;
  flex-grow: 1;
}

.heading {
  display: flex;
  padding: 0 0.6rem;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.item {
  display: inline-block;
  width: 50%;
}

.itemWide {
  display: inline-block;
  width: 100%;
}

@media (min-width: 600px) {
  .item { width: 33.3%; }
  .itemWide { width: 50%; }
}

.itemInner {
  text-align: center;
  padding: 0.5rem 0;
  margin: 0.5rem;
  white-space: nowrap;
}

.itemInnerLong {
  composes: itemInner;
}

@media (min-width: 600px) {
  .itemInnerLong {
    font-size: 0.8rem;
  }
}

@media (max-width: 310px) {
  .itemInnerLong {
    font-size: 0.9rem;
  }
}

.sectionGreen {
  composes: section;
}

.sectionTeal {
  composes: section;
}

.sectionBlue {
  composes: section;
}

.sectionPurple {
  composes: section;
}

.sectionGreen .itemInner {
  background-color: #3f663f;
}

.sectionTeal .itemInner {
  background-color: #3f645f;
}

.sectionBlue .itemInner {
  background-color: #415466;
}

.sectionPurple .itemInner {
  background-color: #483e5c;
}
