.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}
@media (max-width: 599px) {
  .container { 
    font-size: 0.8rem; 
    line-height: 1.4; 
  }
}
.column {
  flex-grow: 1;
  position: relative;
  margin: 0 0.2rem;
}
.leftColumn {
  composes: column;
}
.rightColumn {
  composes: column;
}
.divider {
  width: 4rem;
}
.dividerLine {
  width: 50%;
  border-right: 1px solid currentColor;
}
.dividerYear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 1.65;
}
.item {
  position: absolute;
  width: 100%;
}
.itemInner {
  text-align: center;
  padding: 5px 0.8rem;
  height: calc(100% - 10px);
}
.leftColumn .itemInner {
  background-color: #3f645f;
}
.rightColumn .itemInner {
  background-color: #415466; 
}