*	{ 
  margin: 0; 
  padding: 0; 
}
body { 
  font: 20px Georgia, serif; 
  height: 100%;
}
#app { 
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
}
.scrolling-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.scrolling-container-inner {
  max-width: 600px; 
  margin: 0 auto; 
  padding: 500px 0;
}
.floating-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
}
.floating-container-inner {
  position: relative;
  max-width: 600px; 
  margin: 0 auto; 
  height: 100%;
}
.section-heading {
  padding: 1rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  height: 60px;
  background-color: hsl(150,60%,90%);
}
.section-main {
  padding: 1rem;
}
.headings-top {
  position: absolute;
  top: 0;
  width: 100%;
}
.headings-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.headings-row {
  padding: 1rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  height: 60px;
  background-color: hsl(150,60%,90%);
}