.scrollingContainerInner {
  padding: 0 0 600px;
  color: hsl(40,0%,80%);
  transition: background-color 500ms ease-in, color 500ms ease-in;
}
.topPanel {
  background-color: hsl(40,100%,98%);
  color: hsl(40,100%,98%);
  padding: calc(100vh - 29.8rem) 0 5vh; 
}
.faceBox {
  position: relative;
  max-width: 620px; 
  margin: 0 auto; 
  padding: 0 0.5rem; 
}
.face {
  box-shadow: inset 0 0 0.7rem 0.7rem hsl(40,100%,98%);
  width: 14rem;
  height: 14rem;
  background-image: url("/images/my-face.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: currentColor;
  background-blend-mode: multiply;
}
.neuronBox {
  transition: background-color 500ms ease-in, color 500ms ease-in;
  padding: 1rem 0;
  width: calc(100% - 4rem);
  height: 16rem;
  margin: 0 2rem;
}
.neuron {
  width: 100%;
  height: 100%;
  background-image: url("/images/gif-dark.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 40%;
  background-color: currentColor;
  background-blend-mode: lighten;
}
.floatingContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  pointer-events: none;
}
.floatingContainerInner {
  position: relative;
  height: 100%;
 }
.sectionHeadingBg {
  width: 100%;
  padding-top: 0.8rem;
}
.sectionHeading {
  position: relative;
  width: 100%;
  padding: 0.6rem 1rem;
  height: 1.4rem;
  font-size: 1.1rem;
  max-width: 600px; 
  margin: 0 auto; 
  font-weight: 400;
}
.sectionHeading > a {
  pointer-events: auto;
}
.sectionMain {
  padding: 1rem 1rem 3rem;
  max-width: 600px; 
  margin: 0 auto; 
  line-height: 1.5rem;
}
.sectionMain > *+* {
  margin-top: 0.8rem;
}
.sectionHighlight {
  padding: 0 1rem;
  font-weight: 400;
  display: flex;
  width: 100%;
}
@media (min-height: 550px) and (min-width: 400px) {
  .sectionHighlight { padding: 0 1.5rem; }
}
@media (min-height: 650px) and (min-width: 600px) {
  .sectionHighlight { padding: 0 2rem; }
}
.sectionFieldLabel {
  width: 5.5rem;
  display: flex;
  flex-shrink: 0;
}
.sectionFieldValue {
  display: flex;
}
.headingsTop {
  position: fixed;
  top: 0;
  width: 100%;
}
.headingsBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.headingBg {
  width: 100%;
  transition: background-color 500ms ease-in, color 500ms ease-in;
}
.heading {
  position: relative;
  width: 100%;
  padding: 0.6rem 1rem;
  height: 1.4rem;
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto;
  font-weight: 400;
}
.heading > a {
  pointer-events: auto;
}
.timeline {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 14px;
}
.timelineColumn {
  flex-grow: 1;
  position: relative;
  margin: 0 0.5rem;
}
.studyTimeline {
  composes: timelineColumn;
}
.workTimeline {
  composes: timelineColumn;
}
.timelineDivider {
  width: 4rem;
}
.timelineDividerLine {
  width: 50%;
  height: 150px;
  border-right: 1px solid currentColor;
}
.timelineDividerYear {
  width: 100%;
  text-align: center;
  height: 20px;
}
.timelineItem {
  position: absolute;
  width: 100%;
}
.timelineItemInner {
  text-align: center;
  padding: 0.1rem 0.5rem;
}
.timelineItemBg {
  background-color: currentColor;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%;
}
.studyTimelineItemBg {
  composes: timelineItemBg;
}
.workTimelineItemBg {
  composes: timelineItemBg;
}